<div class="header">
	
	<div class="container-fluid">
		<div class="row-fluid">

			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="hidden-xs">
					<h3 class="text-muted"><strong>Kun Liu</strong></h3>
				</div>
				<div class="visible-xs">
					<h3 class="text-muted text-center"><strong>Kun Liu</strong></h3>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<ul class="nav nav-pills pull-right nav-justified"> 
           			        <li class="{{ page.home }}"><a href="/">Home</a></li>
 					<li class="{{ page.resume }}"><a href="/resume.pdf">Résumé</a></li>
					<li class="{{ page.research }}"><a href="/research">Research</a></li>
					<li class="{{ page.blog }}"><a href="/blog">Blog</a></li>
					<li class="{{ page.contact }}"><a href="/contact">Contact</a></li>
				</ul>
			</div>
			
		</div>
	</div>

</div>

