body {font-family: 'Ubuntu', sans-serif;}
.profile-pic {margin-left: 0px; margin-right: 0px; margin-bottom: 5px;}

.linkedin-badge {margin-left: 0px; margin-right: 0px;}
.self-introduction {margin-left: 0px; margin-right: 0px; font-size: 19px; padding-top: 10px;}
.instagram-gallery {margin: auto;}




