---
layout: default
title: Kun Liu's Blog
home: passive
resume: passsive
research: passive
blog: active
contact: passive
---

<div>

	<ul class="list-unstyled">
		{% for post in paginator.posts %}
		<li>
			<p>
				<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
				<small style="color:#777">	
					<ul class="list-inline">
						<li><i class="fa fa-calendar"></i></li>
						<li>{{ post.date | date: "%B %-d, %Y" }}</li>
						<li></li>
						<li></li>
						<li><i class="fa fa-folder"></i></li>
						{% for cat in  post.categories %}
							<li>{{ cat }}</li>
						{% endfor %}				
					</ul>
				</small>
			</p>

			{{ post.excerpt }}

			<a href="{{ post.url }}">Read more...</a> <hr>
		</li>
	    {% endfor %}
	</ul>

</div>

{% include pagination.html %}  	



